*{
    box-sizing: border-box;
}
.form-popup{
    display : none;
    border: 1px solid black;
    max-width: 300px;
    padding:15px;
    
}

.form-container input[type=text],
.form-container input[type=number]{
    width : 100%;
    padding : 10px;
    margin : 5px 0 20px;
}
.form-container .button {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    margin-bottom:10px;
    opacity: 0.8;
}
.form-container .cancel {
    background-color: red;
}
.form-container .button:hover,
.form-container .cancel:hover{
    opacity:1;
}
.header{
    font-size:36px;
    color: rgba(255, 255, 255, 0.849);
    background-color: #2f7ee6;
    padding: 5px 15px;
    margin-bottom: 10px;
}
.card{
    height:250px;
    width:250px;
    box-shadow:0  10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: cyan;
    
}
body{
    /* height:100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container{
    display:flex;
    flex-wrap: wrap;
    gap:25px;
    margin:25px;
}
.add{
    position:fixed;
    bottom: 25px;
    right: 25px;
    background-color: cyan;
    border-radius: 50%;
    border-style: none;
    font-size: 50px;
    padding:5px 10px;
    color:white;
    text-align: center;
    opacity: 0.8;
}
.add:hover{
    opacity: 1;
    transform: scale(1.2);
}